# Ambiente virtual
venv/
.venv/
.env

# Arquivos de dados
*.csv

# Cache e arquivos compilados do Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Distribuição e build
dist/
build/
*.egg
*.egg-info/

# Arquivo de configuração do Git
.gitignore